<html>
    <head>
        <title><%=website_title%>——上传成功！</title>
    </head>
    <body>
        <h1><%=website_title%></h1>
        <h2>上传成功！</h2>
        <h2>访问地址：<a href="<%=view_site%>"><%=view_site%></a></h2>
    </body>
</html>